*{
    padding: 0;
    margin:0;
}

html, body{
    background-color:azure;
}

.container{
    border: 4px solid #DDD7F8;
    width: 900px;
    height: 780px;
    margin: 2rem;
    padding: 1px;
    background-color: #DCD6F7;

}