body {
    background-color: #f2f2f2; /*Color de fondo del body*/
    font-family: Arial, sans-serif; /*Estilo de fuente para todo el documento*/
    margin: 0; /*Elimina los márgenes predeterminados del body*/
  }
  
  .problematica {
    background-color: #fff; /*Color de fondo para la sección problemática*/
    border: 1px solid #ccc; 
    margin: 20px auto; 
    padding: 20px; 
    text-align: center; 
  }
  
  .proceso {
    background-color: #fff; /*Color de fondo para la sección proceso*/
    border: 1px solid #ccc; /*Agrega un borde de 1px con color gris claro*/
    margin: 20px auto; /*Centra el contenedor y le da un margen superior e inferior de 20px y margen izquierdo y derecho automáticos*/
    padding: 20px; /*Agrega un relleno interno de 20px*/
    text-align: center; /*Centra el texto en el contenedor*/
  }
  
  h3 {
    margin-top: 0; /*Elimina el margen superior predeterminado del encabezado h3*/
  }
  
  .input_text {
    border: 1px solid #ccc; /*Agrega un borde de 1px con color gris claro*/
    margin: 10px; /*Da un margen de 10px a todos los lados del input*/
    padding: 5px; /*Agrega un relleno interno de 5px*/
    width: 200px; /*Define un ancho de 200px para el input*/
  }
  .regreso{
    font-style: italic;
    color: black;
    }
  input[type="button"],
  input[type="number"] {
    background-color: #4CAF50; /*Color de fondo para el botón y el input de número*/
    border: none; /*Elimina el borde predeterminado*/
    border-radius: 5px; /*Agrega un borde redondeado de 5px*/
    color: white; /*Color del texto*/
    cursor: pointer; /*Cambia el cursor a una mano*/
    margin: 10px; /*Da un margen de 10px a todos los lados del botón y el input de número*/
    padding: 10px; /*Agrega un relleno interno de 10px*/
    width: 200px; /*Define un ancho de 200px para el botón y el input de número*/
  }
  
  input[type="button"]:hover,
  input[type="number"]:hover {
    background-color: #3e8e41; 
  }
  
  input[type="button"]:active,
  input[type="number"]:active {
    background-color: #246023; 
  }